.upload-box {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

.upload-box:hover {
    border-color: #007bff;
    background-color: #f1f8ff;
}

.navbar-brand:focus,
.navbar-brand:hover {
   opacity: 0.5;
   filter: drop-shadow(2px 4px 6px black);
}


.upload-box.has-file {
    border-style: solid;
    background-color: #e9f7ef;
    cursor: default;
}

.selected-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-info {
    display: flex;
    align-items: center;
    text-align: left;
}

.delete-btn {
    margin-left: 10px;
    padding: 0.25rem 0.5rem;
}

.delete-btn:hover {
    background-color: #dc3545;
    color: white;
}


img.logo {
    filter: invert(1);
    width: 7%;
}

.empty-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
a.contact {
    text-decoration: none;
}
img.logo { 
    filter: invert(1);
    width: 8%;
    max-width: 100%;
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8) !important; /* White border */
    outline: none; /* Remove default focus outline */
}

.navbar-toggler:focus,
.navbar-toggler:active {
    background-color: transparent !important; /* Transparent background */
    border-color: white !important; /* White border */
    box-shadow: none !important; /* Remove the default focus shadow */
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important; /* White glow instead of blue */
}
ul.navbar-nav {
    text-align: center;
}
/* Change the hamburger icon to white */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
    img.logo {
        width: 18%;
    }
}